{% extends 'base.html' %}

{% block title %}Users{% endblock title %}

{% block content %}
    <h3 class="text-3xl font-bold underline">Users</h3>
        <div class="flex flex-row">
          <form class="mt-4" role="search-role" id="form">
            <input
              class="border"
              type="search"
              id="query-details"
              name="h"
              placeholder="Search username ..."
              aria-label="Search through content of the site"
            />
          </form>
          <a
            href="{{ url_for('web_app.create_account') }}"
            class="flex self-center ml-auto mx-4 bg-transparent hover:bg-indigo-900 text-indigo-700 font-semibold hover:text-white py-2 px-4 border border-indigo-500 hover:border-transparent rounded"
          >
            Create User +
          </a>
        </div>
        <table class="my-4 w-full min-w-max table-auto text-left">
          <thead>
            <tr class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
              <th>id</th>
              <th>Username</th>
              <th>Email</th>
              <th>Profile</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody class="p-4 border-b border-blue-gray-50">
            {% for user in users %}
            <tr class="">
              <td id="id">{{ user[0] }}</td>
              <td id="username">{{ user[1] }}</td>
              <td id="email">{{ user[3] }}</td>
              <td id="profile">
              {% if user[4] == 1 %}
              System Admin
              {% elif user[4] == 2 %}
              Real Estate Agent
              {% elif user[4] == 3 %}
              Buyer
              {% elif user[4] == 4 %}
              Seller
              {% endif %}
              </td>
              <td class="">
                <a
                  href="{{ url_for('web_app.view_account', account=user[1]) }}"
                  class="button bg-transparent hover:bg-indigo-900 text-indigo-700 font-semibold hover:text-white px-2 border border-indigo-500 hover:border-transparent rounded"
                  >View</a
                >
                <a
                  href="{{ url_for('web_app.update_account', account=user[1], email=user[3], role=user[4]) }}"
                  class="button bg-transparent hover:bg-indigo-900 text-indigo-700 font-semibold hover:text-white px-2 border border-indigo-500 hover:border-transparent rounded"
                  >Edit</a
                >
                {% if user[5] == 1 %}
                <a
                    href="{{ url_for('web_app.suspend_account', account=user[1]) }}"
                    class="button bg-transparent hover:bg-indigo-900 text-indigo-700 font-semibold hover:text-white px-2 border border-indigo-500 hover:border-transparent rounded"
                    >Suspend</a>
                {% elif user[5] == 2 %}
                <a
                    href="{{ url_for('web_app.reactivate_account', account=user[1]) }}"
                    class="button bg-transparent hover:bg-indigo-900 text-indigo-700 font-semibold hover:text-white px-2 border border-indigo-500 hover:border-transparent rounded"
                    >Reactivate</a>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
{% endblock content %}

{% block script %}
<script>
  function searchUsers() {
    // Declare variables
    var input, filter, table, tr, tdId, tdUsername, tdEmail, tdProfile, i, txtValueId, txtValueUsername, txtValueEmail, txtValueProfile;
    input = document.getElementById('query-details');
    filter = input.value.toUpperCase();
    table = document.querySelector('.table-auto');
    tr = table.getElementsByTagName('tr');

    // Loop through all table rows, and hide those that don't match the search query
    for (i = 0; i < tr.length; i++) {
      tdId = tr[i].querySelector('#id');
      tdUsername = tr[i].querySelector('#username');
      tdEmail = tr[i].querySelector('#email');
      tdProfile = tr[i].querySelector('#profile');
      if (tdId || tdUsername || tdEmail || tdProfile) {
        txtValueId = tdId.textContent || tdId.innerText;
        txtValueUsername = tdUsername.textContent || tdUsername.innerText;
        txtValueEmail = tdEmail.textContent || tdEmail.innerText;
        txtValueProfile = tdProfile.textContent || tdProfile.innerText;
        if (txtValueId.toUpperCase().indexOf(filter) > -1 || txtValueUsername.toUpperCase().indexOf(filter) > -1 || txtValueEmail.toUpperCase().indexOf(filter) > -1 || txtValueProfile.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = '';
        } else {
          tr[i].style.display = 'none';
        }
      }
    }
  }

  // Attach event listener to input field
  document.getElementById('query-details').addEventListener('input', searchUsers);
</script>
{% endblock script %}