<nav class="menu flex flex-row top-0 sticky bg-red-400 z-50">
    <img class="h-20 w-20 mx-3 rounded-xl" src="{{ url_for('static', filename='Fruit.jpg') }}" alt="logo" />
    <div class="head1 self-center px-2">FruitRealEstate</div>
    <div class="self-center ml-20 w-full min-w-max">
        <a href="/" class="page hover:bg-orange-700 rounded mx-1">HOME</a>
        <a href="/my-reviews/" class="hover:bg-orange-700 rounded mx-1">MY REVIEWS</a>
        <a href="/property-listings/" class="hover:bg-orange-700 rounded mx-1">PROPERTY LISTINGS</a>
        <a href="/my-profile/" class="hover:bg-orange-700 rounded mx-1">MY PROFILE</a>
        <div class="menu-log ml-auto px-2">
            <a href="/login" class="hover:bg-orange-900 rounded mx-1">LOGOUT</a>
        </div>
    </div>
</nav>

{% block script %}
<script>
</script>
{% endblock script %}