<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock title %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% block style %}{% endblock style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='template.css') }}">
    <script src="https://kit.fontawesome.com/e678d6f243.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- Header Section -->
    <!-- <header>
      <div class="flex flex-row">
        <img class="h-28" src="../Fruit.jpg" alt="logo" />
        <div class="head1 self-center">FruitRealEstate</div>
      </div>
    </header> -->

    <!-- Menu Navigation Bar -->
    <!-- check role here and include the respective navigation bar? -->
    {% include("_navigation.html") %}
    <!-- {% include("_navigation_sysadmin.html") %} -->
    <!-- {% include("_navigation_rea.html") %} -->
    <!-- {% include("_navigation_buyer.html") %} -->
    <!-- {% include("_navigation_seller.html") %} -->

    <!-- Body section -->
    <main class="body_sec p-4 overflow-y-auto h-screen">
      <section id="Content">
        {% block content %}<p>No content.</p>{% endblock content %}
      </section>
    </main>

    <!-- Footer Section -->
    <footer class="bottom-0 sticky">Footer Section</footer>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% set latest_message = messages[-1] %}
        <script>
            // Show the latest flash message in an alert box
            alert("{{ latest_message[1] }}");
        </script>
    {% endif %}
    {% endwith %}
  </body>
  {% block script %}{% endblock script %}
</html>
