<!DOCTYPE html>
<html>
<head>
    <title>Log in page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="main">
        <h1>Fruit Real estate</h1>
        <h3>Please log in</h3>
        <form action="/login" method="POST">
            <label for="first">
                Username:
            </label>
            <input type="text"
                id="username"
                name="username"
                placeholder="Enter your Username" required>

            <label for="password">
                Password:
            </label>
            <input type="password"
                id="password"
                name="password"
                placeholder="Enter your Password" required>

            <div class="wrap">
                <button type="submit"
                        onclick="solve()">
                    Log In
                </button>
            </div>
        </form>
        <p>Forgotten password? 
            <a href="#" onclick="alert('Please contact system admin to reset password');" style="text-decoration: none;">
                Reset Password
            </a>
        </p>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% set latest_message = messages[-1] %}
        <script>
            // Show the latest flash message in an alert box
            alert("{{ latest_message[1] }}");
        </script>
    {% endif %}
    {% endwith %}
</body>
</html>