{% extends 'base.html' %}

{% block title %}Create review{% endblock title %}

{% block content %}
<div class="main">
    <a
      href="{{url_for('web_app.my_reviews_create')}}"
      class="bg-slate-600 text-sm text-white py-2 px-3 rounded"
      >Back</a
    >
    <h3 class="text-xl font-bold underline mt-4">Create Review</h3>
    <form action="/my-reviews/create" method = "POST">
      <input type="hidden" id="profile_name" name="profile_name" value="{{ profile }}">

       <!-- Real Estate Agent Username -->
       <label for="userNameREA">Real Estate Agent Username:</label>
       <input type="text" id="userNameREA" name="userNameREA" class="border p-2" required />

      <label for="first"> Rating: </label>
      <!-- <div id="profile_display" class="w-full md:w-[50%] xl:w-[30%] border p-2">
        <span>{{profile}}</span>
      </div> -->
      <div>
        <select name="sort" id="sort"
                  class="w-44 text-sm text-gray-600 py-3 px-4 border-gray-300 shadow-sm rounded focus:ring-indigo-700 focus:border-indigo-700">
                  <option value="5">5</option>
                  <option value="4">4</option>
                  <option value="3">3</option>
                  <option value="2">2</option>
                  <option value="1">1</option>
                  <option value="0">0</option>
              </select>
      </div>

      <label for="profile_desc"> Review description: </label>
      <textarea
        id="profile_desc"
        name="profile_desc"
        rows="4"
        cols="50"
        class="border p-2"
      >{{profile_desc}}</textarea>
      <!-- <input
        type="text"
        id="profile_desc"
        name="first"
        class="w-full md:w-[50%] xl:w-[30%]"
        placeholder="Enter your Username"
        required
      /> -->

      <div class="wrap">
        <button type="submit" id="submit-button">
          Create review
        </button>
      </div>
    </form>
  </div>
{% endblock content %}

{% block script %}
<script>

</script>
{% endblock script %}