{% extends 'base.html' %}

{% block title %}Create user profile{% endblock title %}

{% block content %}
<!-- <div class="main">
    <a
      href="{{url_for('web_app.user_profiles_index')}}"
      class="bg-slate-600 text-sm text-white py-2 px-3 rounded"
      >Back</a
    >
    <h3 class="text-xl font-bold underline mt-4">Create User Profile</h3>
    <form action="/user-profiles/create" method = "POST">
      <label for="first"> User profile: </label>
      <select id="profile_type" name="profile_type" class="w-full md:w-[50%] xl:w-[30%]" required>
        <option value="System Admin">System Admin</option>
        <option value="Real Estate Agent">Real Estate Agent</option>
        <option value="Buyer">Buyer</option>
        <option value="Seller">Seller</option>
      </select>

      <label for="profile_desc"> User profile description: </label>
      <textarea
        id="profile_desc"
        name="profile_desc"
        rows="4"
        cols="50"
        class="border p-2"
      ></textarea>

      <div class="wrap">
        <button type="submit" id="submit-button">
          Create user profile
        </button>
      </div>
    </form>
  </div> -->

  <div class="main">
    <a
      href="{{url_for('web_app.user_profiles_index')}}"
      class="bg-slate-600 text-sm text-white py-2 px-3 rounded">
      Back
    </a>
    <h3 class="text-xl font-bold underline mt-4">Create User Profile</h3>
    <form action="">
      <label for="first"> User profile: </label>
      <!-- <label for="cars">Choose a car:</label> -->

      <select name="first" id="first" class="border border-black rounded px-4 py-2">
        <option value="1">System Admin</option>
        <option value="2">Real Estate Agent</option>
        <option value="3">Seller</option>
        <option value="4">Buyer</option>
      </select>
      <!-- <input
        type="text"
        id="first"
        name="first"
        class="w-full md:w-[50%] xl:w-[30%]"
        placeholder="Enter new user profile"
        required
      /> -->

      <div class="wrap">
        <button type="submit" id="submit-button">
          Create user profile
        </button>
      </div>
      </form>
  </div>
{% endblock content %}

{% block script %}
<script>

</script>
{% endblock script %}