{% extends 'base.html' %}

{% block title %}User profiles{% endblock title %}

{% block content %}
    <h3 class="text-3xl font-bold underline">User profiles</h3>
        <div class="flex flex-row">
          <form class="mt-4" role="search-role" id="form">
            <input
              class="border"
              type="search"
              id="query-details"
              name="h"
              placeholder="Search username ..."
              aria-label="Search through content of the site"
            />
          </form>
          <a
            href="{{ url_for('web_app.user_profile_create') }}"
            class="flex self-center ml-auto mx-4 bg-transparent hover:bg-indigo-900 text-indigo-700 font-semibold hover:text-white py-2 px-4 border border-indigo-500 hover:border-transparent rounded"
          >
            Create User Profiles +
          </a>
        </div>
        <table class="my-4 w-full min-w-max table-auto text-left">
          <thead>
            <tr class="border-y border-blue-gray-100 bg-blue-gray-50/50 p-4">
              <th>userid</th>
              <th>username</th>
              <th>email</th>
              <!-- <th>
                    created_on
                </th> -->
              <th>actions</th>
            </tr>
          </thead>
          <tbody class="p-4 border-b border-blue-gray-50">
            <tr class="">
              <td>1</td>
              <td>johnny123</td>
              <td>johnny123@gmail.com</td>
              <!-- <td>
                    22/04/24 12:57AM
                </td> -->
              <td class="">
                <a
                  href="{{ url_for('web_app.user_profile_view') }}"
                  class="button bg-transparent hover:bg-indigo-900 text-indigo-700 font-semibold hover:text-white px-2 border border-indigo-500 hover:border-transparent rounded"
                  >view</a
                >
                <a
                  href="{{ url_for('web_app.user_profile_update') }}"
                  class="button bg-transparent hover:bg-indigo-900 text-indigo-700 font-semibold hover:text-white px-2 border border-indigo-500 hover:border-transparent rounded"
                  >edit</a
                >
                <a
                  href=""
                  class="button bg-transparent hover:bg-indigo-900 text-indigo-700 font-semibold hover:text-white px-2 border border-indigo-500 hover:border-transparent rounded"
                  >delete</a
                >
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>maryhadalittlelamb</td>
              <td>maryhadalittlelamb@gmail.com</td>
              <!-- <td>
                    22/04/24 12:57AM
                </td> -->
              <td>
                <a
                  href="view.html"
                  class="button bg-transparent hover:bg-indigo-900 text-indigo-700 font-semibold hover:text-white px-2 border border-indigo-500 hover:border-transparent rounded"
                  >view</a
                >
                <a
                  href="{{ url_for('web_app.user_profile_update') }}"
                  class="button bg-transparent hover:bg-indigo-900 text-indigo-700 font-semibold hover:text-white px-2 border border-indigo-500 hover:border-transparent rounded"
                  >edit</a
                >
                <a
                  href=""
                  class="button bg-transparent hover:bg-indigo-900 text-indigo-700 font-semibold hover:text-white px-2 border border-indigo-500 hover:border-transparent rounded"
                  >delete</a
                >
              </td>
            </tr>
          </tbody>
        </table>
{% endblock content %}

{% block script %}
<!-- <script>
    console.log(window.location.href);
</script> -->
{% endblock script %}