{% extends 'base.html' %}

{% block title %}Reviews{% endblock title %}

{% block content %}
    <a
      href="{{url_for('web_app.my_profile_index')}}"
      class="bg-slate-600 text-sm text-white py-2 px-3 rounded">
      Back
    </a>
    <h3 class="text-3xl font-bold underline mt-4">Reviews</h3>
        <div class="flex flex-row">
          <!-- <form class="mt-4" role="search-role" id="form">
            <input
              class="border"
              type="search"
              id="query-details"
              name="h"
              placeholder="Search username ..."
              aria-label="Search through content of the site"
            />
          </form> -->
          <!-- <a
            href="{{ url_for('web_app.create_profile') }}"
            class="flex self-center ml-auto mx-4 bg-transparent hover:bg-indigo-900 text-indigo-700 font-semibold hover:text-white py-2 px-4 border border-indigo-500 hover:border-transparent rounded"
          >
            Create Reviews +
          </a> -->
          <div class="mt-4 mx-2 flex gap-1 text-sm text-yellow-400">
            <span class="text-black mr-1">Average Rating: 4.3</span>
            <!-- change condition to the rating, rounded to the nearest number -->
            {% if false %}
            <!-- 5 stars -->
            <span><i class="fa-solid fa-star"></i></span>
            <span><i class="fa-solid fa-star"></i></span>
            <span><i class="fa-solid fa-star"></i></span>
            <span><i class="fa-solid fa-star"></i></span>
            <span><i class="fa-solid fa-star"></i></span>
            {% elif true %}
            <!-- 4 stars -->
            <span><i class="fa-solid fa-star"></i></span>
            <span><i class="fa-solid fa-star"></i></span>
            <span><i class="fa-solid fa-star"></i></span>
            <span><i class="fa-solid fa-star"></i></span>
            <span><i class="fa-regular fa-star"></i></span>
            <!-- <span><i class="fa-regular fa-star-half-stroke"></i></span> -->
            {% elif false %}
            <!-- 3 stars -->
            <span><i class="fa-solid fa-star"></i></span>
            <span><i class="fa-solid fa-star"></i></span>
            <span><i class="fa-solid fa-star"></i></span>
            <span><i class="fa-regular fa-star"></i></span>
            <span><i class="fa-regular fa-star"></i></span>
            {% elif false %}
            <!-- 2 stars -->
            <span><i class="fa-solid fa-star"></i></span>
            <span><i class="fa-solid fa-star"></i></span>
            <span><i class="fa-regular fa-star"></i></span>
            <span><i class="fa-regular fa-star"></i></span>
            <span><i class="fa-regular fa-star"></i></span>
            {% else %}
            <!-- 1 star -->
            <span><i class="fa-solid fa-star"></i></span>
            <span><i class="fa-regular fa-star"></i></span>
            <span><i class="fa-regular fa-star"></i></span>
            <span><i class="fa-regular fa-star"></i></span>
            <span><i class="fa-regular fa-star"></i></span>
            {% endif %}
        </div>
        </div>
        <table class="mt-6">
          <thead>
            <tr>
              <th class="w-20"></th>
              <th></th>
            </tr>
          </thead>
          <tbody>


            <tr class="border-b pb-4">
              <td class="">
                  <div class="flex flex-col items-center">
                    <img src="{{ url_for('static', filename='house4.jpeg') }}" alt="product 1" class="w-12 m-4 aspect-square object-cover rounded-full">
                    <span class="text-xs mb-3 px-2 font-semibold">Brownbear3337777777</span>
                  </div>
              </td>
              <td>
                  <div class="flex flex-col self-center mx-2 mt-3">
                    <div class="mx-2 flex gap-1 text-sm text-yellow-400">
                      <!-- change condition to the rating, rounded to the nearest number -->
                      {% if true %}
                      <!-- 5 stars -->
                      <span><i class="fa-solid fa-star"></i></span>
                      <span><i class="fa-solid fa-star"></i></span>
                      <span><i class="fa-solid fa-star"></i></span>
                      <span><i class="fa-solid fa-star"></i></span>
                      <span><i class="fa-solid fa-star"></i></span>
                      {% elif false %}
                      <!-- 4 stars -->
                      <span><i class="fa-solid fa-star"></i></span>
                      <span><i class="fa-solid fa-star"></i></span>
                      <span><i class="fa-solid fa-star"></i></span>
                      <span><i class="fa-solid fa-star"></i></span>
                      <span><i class="fa-regular fa-star"></i></span>
                      <!-- <span><i class="fa-regular fa-star-half-stroke"></i></span> -->
                      {% elif false %}
                      <!-- 3 stars -->
                      <span><i class="fa-solid fa-star"></i></span>
                      <span><i class="fa-solid fa-star"></i></span>
                      <span><i class="fa-solid fa-star"></i></span>
                      <span><i class="fa-regular fa-star"></i></span>
                      <span><i class="fa-regular fa-star"></i></span>
                      {% elif false %}
                      <!-- 2 stars -->
                      <span><i class="fa-solid fa-star"></i></span>
                      <span><i class="fa-solid fa-star"></i></span>
                      <span><i class="fa-regular fa-star"></i></span>
                      <span><i class="fa-regular fa-star"></i></span>
                      <span><i class="fa-regular fa-star"></i></span>
                      {% else %}
                      <!-- 1 star -->
                      <span><i class="fa-solid fa-star"></i></span>
                      <span><i class="fa-regular fa-star"></i></span>
                      <span><i class="fa-regular fa-star"></i></span>
                      <span><i class="fa-regular fa-star"></i></span>
                      <span><i class="fa-regular fa-star"></i></span>
                      {% endif %}
                  </div>
                    <div class="mx-2 my-2 text-sm">
                      Effortless real estate transaction! Jamie provided top-notch service, guiding us smoothly through the process. Their expertise and responsiveness ensured a stress-free experience. Highly recommended!Effortless real estate transaction! Jamie provided top-notch service, guiding us smoothly through the process.
                    </div>
                  </div>
              </td>
            </tr>


            <tr class="border-b pb-4">
              <td class="">
                  <div class="flex flex-col items-center">
                    <img src="{{ url_for('static', filename='house4.jpeg') }}" alt="product 1" class="w-12 m-4 aspect-square object-cover rounded-full">
                    <span class="text-xs mb-3 px-2 font-semibold">Sunflower99</span>
                  </div>
              </td>
              <td>
                  <div class="flex flex-col self-center mx-2 mt-3">
                    <div class="mx-2 flex gap-1 text-sm text-yellow-400">
                      <span><i class="fa-solid fa-star"></i></span>
                      <span><i class="fa-solid fa-star"></i></span>
                      <span><i class="fa-solid fa-star"></i></span>
                      <span><i class="fa-solid fa-star"></i></span>
                      <span><i class="fa-regular fa-star-half-stroke"></i></span>
                    </div>
                    <div class="mx-2 my-2 text-sm">
                      Effortless real estate transaction! Jamie provided top-notch service, guiding us smoothly through the process. Their expertise and responsiveness ensured a stress-free experience. Highly recommended!Effortless real estate transaction! Jamie provided top-notch service, guiding us smoothly through the process.
                      Effortless real estate transaction! Jamie provided top-notch service, guiding us smoothly through the process. Their expertise and responsiveness ensured a stress-free experience. Highly recommended!Effortless real estate transaction! Jamie provided top-notch service, guiding us smoothly through the process.
                      Effortless real estate transaction! Jamie provided top-notch service, guiding us smoothly through the process. Their expertise and responsiveness ensured a stress-free experience. Highly recommended!Effortless real estate transaction! Jamie provided top-notch service, guiding us smoothly through the process.
                      Effortless real estate transaction! Jamie provided top-notch service, guiding us smoothly through the process. Their expertise and responsiveness ensured a stress-free experience. Highly recommended!Effortless real estate transaction! Jamie provided top-notch service, guiding us smoothly through the process.
                      Effortless real estate transaction! Jamie provided top-notch service, guiding us smoothly through the process. Their expertise and responsiveness ensured a stress-free experience. Highly recommended!Effortless real estate transaction! Jamie provided top-notch service, guiding us smoothly through the process.
                    </div>
                  </div>
              </td>
            </tr>


            <tr class="border-b pb-4">
              <td class="">
                  <div class="flex flex-col items-center">
                    <img src="{{ url_for('static', filename='house4.jpeg') }}" alt="product 1" class="w-12 m-4 aspect-square object-cover rounded-full">
                    <span class="text-xs mb-3 px-2 font-semibold">Person134</span>
                  </div>
              </td>
              <td>
                  <div class="flex flex-col self-center mx-2 mt-3">
                    <div class="mx-2 flex gap-1 text-sm text-yellow-400">
                      <span><i class="fa-solid fa-star"></i></span>
                      <span><i class="fa-solid fa-star"></i></span>
                      <span><i class="fa-solid fa-star"></i></span>
                      <span><i class="fa-solid fa-star"></i></span>
                      <span><i class="fa-regular fa-star-half-stroke"></i></span>
                    </div>
                    <div class="mx-2 my-2 text-sm">
                      Effortless real estate transaction! Jamie provided top-notch service, guiding us smoothly through the process. Their expertise and responsiveness ensured a stress-free experience. Highly recommended!Effortless real estate transaction! Jamie provided top-notch service, guiding us smoothly through the process.
                      Effortless real estate transaction! Jamie provided top-notch service, guiding us smoothly through the process. Their expertise and responsiveness ensured a stress-free experience. Highly recommended!Effortless real estate transaction! Jamie provided top-notch service, guiding us smoothly through the process.
                      Effortless real estate transaction! Jamie provided top-notch service, guiding us smoothly through the process. Their expertise and responsiveness ensured a stress-free experience. Highly recommended!Effortless real estate transaction! Jamie provided top-notch service, guiding us smoothly through the process.
                    </div>
                  </div>
              </td>
            </tr>


          
          </tbody>
        </table>
{% endblock content %}

{% block script %}
<script>
  function searchProfiles() {
    // Declare variables
    var input, filter, table, tr, tdId, tdName, tdDesc, i, txtValue;
    input = document.getElementById('query-details');
    filter = input.value.toUpperCase();
    table = document.querySelector('.table-auto');
    tr = table.getElementsByTagName('tr');

    // Loop through all table rows, and hide those that don't match the search query
    for (i = 0; i < tr.length; i++) {
      tdId = tr[i].querySelector('#id');
      tdName = tr[i].querySelector('#name');
      tdDesc = tr[i].querySelector('#desc');
      if (tdId || tdName || tdDesc) {
        txtValueId = tdId.textContent || tdId.innerText;
        txtValueName = tdName.textContent || tdName.innerText;
        txtValueDesc = tdDesc.textContent || tdDesc.innerText;
        if (txtValueId.toUpperCase().indexOf(filter) > -1 || txtValueName.toUpperCase().indexOf(filter) > -1 || txtValueDesc.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = '';
        } else {
          tr[i].style.display = 'none';
        }
      }
    }
  }

  // Attach event listener to input field
  document.getElementById('query-details').addEventListener('input', searchProfiles);
</script>
{% endblock script %}