{% extends 'base.html' %}

{% block title %}My profile{% endblock title %}

{% block content %}
    <h3 class="text-3xl font-bold underline">My profile</h3>


        <div class="flex col-span-1 my-4 border bg-gray-100 rounded-md">
            <div class="">
                <img src="{{ url_for('static', filename='house4.jpeg') }}" alt="product 1" class="w-48 m-4 aspect-square object-cover rounded-full">
            </div>
            <div class="p-8 self-center flex flex-col">
                <div class="text-3xl font-bold">
                    Username123
                </div>
                <div class="flex items-center">
                    <span>Rating: </span>
                    <div class="mx-2 flex gap-1 text-sm text-yellow-400">
                        <span class="text-black mr-1">5.0</span>
                        <!-- change condition to the rating, rounded to the nearest number -->
                        {% if true %}
                        <!-- 5 stars -->
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        {% elif false %}
                        <!-- 4 stars -->
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-regular fa-star"></i></span>
                        <!-- <span><i class="fa-regular fa-star-half-stroke"></i></span> -->
                        {% elif false %}
                        <!-- 3 stars -->
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-regular fa-star"></i></span>
                        <span><i class="fa-regular fa-star"></i></span>
                        {% elif false %}
                        <!-- 2 stars -->
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-regular fa-star"></i></span>
                        <span><i class="fa-regular fa-star"></i></span>
                        <span><i class="fa-regular fa-star"></i></span>
                        {% else %}
                        <!-- 1 star -->
                        <span><i class="fa-solid fa-star"></i></span>
                        <span><i class="fa-regular fa-star"></i></span>
                        <span><i class="fa-regular fa-star"></i></span>
                        <span><i class="fa-regular fa-star"></i></span>
                        <span><i class="fa-regular fa-star"></i></span>
                        {% endif %}
                    </div>
                    <a href="{{ url_for('web_app.reviews_index') }}" 
                        class="text-xs text-gray-500 hover:text-blue-500 underline underline-offset-2">
                        (<span>20</span> Reviews)
                    </a>
                </div>
                {% if role == 3 %}
                <a href="{{ url_for('web_app.wishlists_index') }}"
                    class="text-white text-nowrap text-sm px-2 py-1 mt-8 max-w-min rounded-md bg-indigo-700 flex items-center justify-center hover:bg-gray-800 transition"
                    title="add to wishlist">
                    <i class="fa-solid fa-heart mx-1"></i>My wishlist
                </a>
                {% endif %}
            </div>
        </div>
        
        {% if role != 3 %}
        <h4 class="text-xl font-bold underline">My Listings</h4>
        
        <div class="flex flex-row">
          <form class="mt-4" role="search-role" id="form">
            <input
              class="border"
              type="search"
              id="query-details"
              name="h"
              placeholder="Search Listings..."
              aria-label="Search through content of the site"
            />
          </form>
          {% if role == 2 %}
          <a
          href="{{ url_for('web_app.property_listings_create') }}"
            class="flex self-center ml-auto mx-4 bg-transparent hover:bg-indigo-900 text-indigo-700 font-semibold hover:text-white py-2 px-4 border border-indigo-500 hover:border-transparent rounded"
          >
            Create Property Listings +
          </a>
          {% endif %}
        </div>

        <div class="col-span-3">
          <div class="flex items-center mb-4">
              <select name="sort" id="sort"
                  class="w-44 text-sm text-gray-600 py-3 px-4 border-gray-300 shadow-sm rounded focus:ring-indigo-700 focus:border-indigo-700">
                  <option value="">Default sorting</option>
                  <option value="price-low-to-high">Price low to high</option>
                  <option value="price-high-to-low">Price high to low</option>
              </select>
          </div>
        {% endif %}

        {% if propertyListings %}
        <div id = "propertyListingsContainer" class="grid lg:grid-cols-5 md:grid-cols-3 grid-cols-2 gap-6">
            {% for listing in propertyListings %}  
            <div class="bg-white shadow rounded overflow-hidden group">
                <div class="relative">
                    <!-- Listing Image Directory -->
                    <img src="{{ url_for('static', filename=listing[4]) }}" alt="{{listing[1]}}" class="w-full aspect-square object-cover">
                    <div class="absolute inset-0 bg-black bg-opacity-40 flex items-center 
                      justify-center gap-2 opacity-0 group-hover:opacity-100 transition">
                          <a href="{{ url_for('web_app.my_profile_view', listing_id = listing[0]) }}"
                              class="text-white text-lg w-9 h-8 rounded-full bg-indigo-700 flex items-center justify-center hover:bg-gray-800 transition"
                              title="view listing">
                              <i class="fa-solid fa-magnifying-glass"></i>
                          </a>
                      </div>
                  </div>
                  <div class="pt-4 pb-3 px-4">
                    
                    <a href="#">
                        <h4 class="min-h-24 uppercase font-medium text-xl mb-2 text-gray-800 hover:text-indigo-700 transition">
                            {{ listing[1] }}</h4>
                    </a>
                    <div class="flex items-baseline mb-1">
                          <p class="text-xl text-indigo-700 font-semibold">$ {{ listing[5] }}</p>
                          <span class="text-sm text-gray-400 ml-auto px-2">{{listing[9]}}
                            <!-- change condition below to if wishlisted, change number above to total number views -->
                            <i class="fa-solid fa-eye"></i>
                        </span>
                        <span class="text-sm text-gray-400 ml-auto px-2">{{listing[10]}}
                            <!-- change condition below to if wishlisted, change number above to total number wishlisted -->
                            {% if true %} 
                            <i class="fa-solid fa-heart text-red-500"></i>
                            {% else %}
                            <i class="fa-solid fa-heart"></i>
                            {% endif %}
                        </span>
                      </div>
                  </div>
                  <a href="{{ url_for('web_app.my_profile_view', listing_id = listing[0]) }}"
                      class="block w-full py-1 text-center text-white bg-indigo-700 border border-indigo-700 rounded-b hover:bg-transparent hover:text-indigo-700 transition">
                      View Listing</a>
            </div>
            {% endfor %}

          </div>
          {% endif %}
      </div>

        
{% endblock content %}