{% extends 'base.html' %}

{% block title %}My Profile View{% endblock title %}

{% block content %}
    

<a
    href="{{url_for('web_app.my_profile_index')}}"
    class="bg-slate-600 text-sm text-white py-2 px-3 rounded"
    >Back</a
>
<div class="container grid grid-cols-2 gap-6 pt-6">
    <div>
        <img src="{{ url_for('static', filename=listing[4]) }}" alt="product 1" class="w-full">
        <div class="grid grid-cols-5 gap-4 mt-4">
        </div>
    </div>

    <div>
        <h2 class="text-3xl font-medium uppercase mb-2">{{listing[1]}}</h2>
        <div class="space-y-2">
            <p class="space-x-2">
                <span class="text-gray-800 font-semibold">Location: </span>
                <span class="text-gray-600">{{listing[2]}}</span>
            </p>
            <p class="space-x-2">
                <span class="text-gray-800 font-semibold">ID: </span>
                <span class="text-gray-600">{{listing[0]}}</span>
            </p>
        </div>
        <div class="flex items-baseline mb-1 space-x-2 font-roboto mt-4">
            <p class="text-xl text-indigo-700 font-semibold">${{listing[5]}}</p>
        </div>

        <p class="mt-4 text-gray-600">
           {{listing[3]}}
        </p>
        {% if role == 2 %}
        <div class="mt-6 flex gap-3 border-b border-gray-200 pb-5 pt-5">
            <a href="{{ url_for('web_app.property_listings_update', listing_id=listing[0]) }}"
                class="bg-indigo-700 border border-indigo-700 text-white px-8 py-2 font-medium rounded uppercase flex items-center gap-2 hover:bg-transparent hover:text-indigo-700 transition">
                <i class="fa-solid fa-pencil"></i>
                Update
            </a>
            <a href="{{ url_for('web_app.property_listings_delete', listing_id=listing[0]) }}"  onclick="return confirmDelete();"
                class="border border-red-300 text-red-600 px-8 py-2 font-medium rounded uppercase flex items-center gap-2 hover:bg-red-100 transition">
                <i class="fa-solid fa-trash-can"></i>
                Delete
            </a>
        </div>
        {% endif %}
    </div>
</div>
<!-- ./product-detail -->

<!-- description -->
<div class="container pb-16 pt-16">
    <h3 class="border-b border-gray-200 font-roboto text-gray-800 pb-3 font-medium">Property Details</h3>
    <div class="w-3/5 pt-6">
        <div class="text-gray-600">
            <p>
                {{listing[3]}}
            </p>
        </div>
    </div>
</div>

        
{% endblock content %}
{% block script %}
<script type="text/javascript">
    function confirmDelete() {
        return confirm("Are you sure you want to delete this listing?");
    }
    function confirmBuy() {
        return confirm("Are you sure you want to buy this listing?");
    }
</script>
{% endblock script %}