{% extends 'base.html' %}

{% block title %}Create property listing{% endblock title %}

{% block content %}

  <div class="main">
    <a
      href="{{url_for('web_app.my_profile_index')}}"
      class="bg-slate-600 text-sm text-white py-2 px-3 rounded"
      >Back</a
    >
    <h3 class="text-xl font-bold underline mt-4">Update Property Listing</h3>
    <form action="/property-listings/update" method="POST" enctype="multipart/form-data">
      <label for="image-preview"> Upload photo of property: </label>
      <input id="upload" type="file" class="hidden" accept="image/*" name="image" required/>
      <div id="image-preview" class="max-w-sm p-6 mb-4 bg-gray-100 border-dashed border-2 border-gray-400 rounded-lg items-center mx-1 text-center cursor-pointer">
          <label for="upload" class="cursor-pointer">
              <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-700">Upload picture</h5>
              <p class="font-normal text-sm text-gray-400 md:px-6">Choose photo size should be less than <b class="text-gray-600">2mb</b></p>
              <p class="font-normal text-sm text-gray-400 md:px-6">and should be in <b class="text-gray-600">JPG, PNG, or GIF</b> format.</p>
              <span id="filename" class="text-gray-500 bg-gray-200 z-50"></span>
          </label>
      </div>

      <label for="first"> Name: </label>
      <input type="text" id="first" name="name" class="w-full md:w-[50%] xl:w-[30%]" placeholder="Enter property name" value="{{listing[1]}}" required/>
      <label for="location"> Location: </label>
      <input type="text" id="location" name="location" class="w-full md:w-[50%] xl:w-[30%]" placeholder="Enter property location" value="{{listing[2]}}" required/>
      <label for="price"> Price: </label>
      <input type="text" id="price" name="price" class="w-full md:w-[50%] xl:w-[30%]" placeholder="Enter price of property" value={{listing[5]}} required/>
      <label for="description">Description: </label>
      <textarea
        id="description"
        name="description"
        rows="4"
        cols="50"
        class="border p-2"
        placeholder="Enter description of property"
      >{{listing[3]}}</textarea>
      <label for="seller"> Seller: </label>
      <input type="text" id="seller" name="seller" class="w-full md:w-[50%] xl:w-[30%]" placeholder="Enter name of Seller" value={{curr_seller[1]}} required/>
      
      <div class="wrap">
          <button type="submit" id="submit-button">Update Property Listing</button>
      </div>
    </form>
  </div>
{% endblock content %}

{% block script %}
<script>
    const uploadInput = document.getElementById('upload');
    const filenameLabel = document.getElementById('filename');
    const imagePreview = document.getElementById('image-preview');

    // Check if the event listener has been added before
    let isEventListenerAdded = false;

    uploadInput.addEventListener('change', (event) => {
        const file = event.target.files[0];

        if (file) {
        filenameLabel.textContent = file.name;

        const reader = new FileReader();
        reader.onload = (e) => {
            imagePreview.innerHTML =
            `<img src="${e.target.result}" class="max-h-48 rounded-lg mx-auto" alt="Image preview" />`;
            imagePreview.classList.remove('border-dashed', 'border-2', 'border-gray-400');

            // Add event listener for image preview only once
            if (!isEventListenerAdded) {
            imagePreview.addEventListener('click', () => {
                uploadInput.click();
            });

            isEventListenerAdded = true;
            }
        };
        reader.readAsDataURL(file);
        } else {
        filenameLabel.textContent = '';
        imagePreview.innerHTML =
            `<div class="bg-gray-200 h-48 rounded-lg flex items-center justify-center text-gray-500">No image preview</div>`;
        imagePreview.classList.add('border-dashed', 'border-2', 'border-gray-400');

        // Remove the event listener when there's no image
        imagePreview.removeEventListener('click', () => {
            uploadInput.click();
        });

        isEventListenerAdded = false;
        }
    });

    uploadInput.addEventListener('click', (event) => {
        event.stopPropagation();
    });
</script>
{% endblock script %}